<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    CSS-->
    <link rel="stylesheet" href="css/mine.css">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="blocks/js/script.js"></script>

</head>

<header th:insert="blocks/heder-mine::header-mine"></header>
<br>
<body>
<section class="jumbotron text-center" style="background-color: rgba(230,132,55,0.36)">
    <div class="title mont">
        <h1>Клієнтський журнал</h1>
    </div>
</section>

<!--    <form action="/logout" >-->
<form  action="/logout" method="POST">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
</form>
<h3> Перелік користувачів</h3>
<div class="content mt-5">
    <div th:each="el:${listUser}" class="alert alert-info mt-2">
        <h3 th:text="${el.login}"/>
        <p th:text="${el.email}"/>
    </div>
</div>
<h3> Перелік замовлень</h3>
<div class="content mt-5">
    <div th:each="el:${listOrder}" class="alert alert-info mt-2">
        <h3 th:text="${el.text}"/>
        <p th:text="${el.date}"/>
        <p th:text="${el.bonus}"/>
        <p th:text="${el.username}"/>
        <p th:text="${el.phone}"/>
      </div>
</div>

<a href="/blog/add" class="btn btn-lg btn-primary btn-block">Створити пост</a>

<form action="/blog" method="get">
    <div class="content mt-5">
        <div th:each="el:${posts}" class="alert alert-info mt-2">
            <h3 th:text="${el.title}"/>
            <p th:text="${el.video}"/>
            <p th:text="${el.anons}"/>
            <a th:href="'/blog/'+${el.id}" class="btn btn-warning">Детальніше</a>
        </div>
    </div>
</form>

</body>
<footer th:insert="blocks/footer-first::footer-first"></footer>
</html>
