<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    CSS-->
    <link rel="stylesheet" href="css/mine.css">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="blocks/js/script.js"></script>

</head>
<header th:insert="blocks/heder-mine::header-mine"></header>
<br>
<header th:insert="blocks/photoSlider::slider"></header>
<br>

<!--/botMessage-->
<div class="float-right">
    <a href="/botMessage" class="phone-coll"><img src="images/phone_call.jpg"
                                                  width="80%"
                                                  alt=""> </a>
</div>
<br><br><br><br><br><br>

<div class="jumbotron " style="background-color: rgba(196,246,255,0.34)">
    <div class="row col-md-12">
        <h2 class="col-md-12 text-center font-weight-bold">Висока якість товару та сервіс</h2>
        <br><br>
        <div class="col-md-4">
            <img src="images/bascet.png" width="40%" class="rounded mx-auto d-block" alt="..."> <br>
            <div><h5 class="text-center"> Якісне пакування гарантуємо. Швідкість та сервіс забезпечуємо.</h5></div>
        </div>
        <div class="col-md-4">
            <img src="images/shop.png" width="40%" class="rounded mx-auto d-block" alt="..."> <br>
            <div><h5 class="text-center">Замовляйте мед на сторінці особистого кабінету або
                замовляйте дзвінок</h5></div>
        </div>
        <div class="col-md-4">
            <img src="images/phone.png" width="40%" class="rounded mx-auto d-block" alt="..."> <br>
            <div><h5 class="text-center">Чудові умови та висока якість. Постійним покупцям надаємо персональні
                знижки.</h5></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="album col-md-12 bg-light" style="background-color: bisque">
        <div class="nav justify-content-center">

            <div class="row col-md-12">
                <div class="col-md-4">
                    <img src="images/bee_1.jpg" class="img-thumbnail" alt="100" width="100%" height="100">
                </div>
                <div class="col-md-8">
                    <h2>Гречаний мед</h2>
                    <h5>Сьогодні у продажу є найрізноманітніші види меду. Найкориснішим з них є гречаний – той, який
                        зібраний з квіток гречки. Головна особливість цього виду меду полягає в чистоті продукту,
                        тому його ще називають монофлерним. Терпкий смак, коричневий відтінок і нудотна солодкість –
                        це відмітні ознаки гречаного меду. Його корисні властивості і протипоказання відомі далеко не
                        усім.
                        Цей сорт меду перевершує багато в чому інші види. В першу чергу, слід зазначити хімічний склад
                        родукту на виході. Гречаний мед має високий вміст заліза, що пояснює його коричневий і
                        темно-червоний відтінок. Також мед збагачений корисними мікроелементами, але найбільше:
                        кальцієм, калієм, фосфором, магнієм, міддю.</h5>
                </div>
                <div class="col-md-4">
                    <img src="images/bee_2.jpeg" class="img-thumbnail" alt="100" width="100%" height="100">
                </div>
                <div class="col-md-8">
                    <h2>Липовий мед</h2>
                    <h5>Зрілий та насичений мед світло-бурштинового кольору. Цей мед має чудовий аромат квіток липи та
                        густий насичений смак з ледь відчутною ноткою терпкості. Це класичний липовий мед, смак якого
                        відомий з дитинства. Натуральний липовий мед швидко кристалізується, що є критерієм оцінки його
                        чистоти.
                        Крім хорошого смаку та аромату цей продукт має ще ряд цілющих ефектів і саме липовий мед має
                        потужний лікувальний ефект у випадку з простудними і іншими запальними захворюваннями. Це
                        пояснюється підвищеним вмістом у складі продукту корисних ферментів, а також вітамінів В, К, Е,
                        які надають антибактеріальний, протизапальний, жарознижуючий ефект, а також підвищують
                        імунітет. </h5>
                </div>
                <div class="col-md-4">
                    <img src="images/bee_3.jpg" class="img-thumbnail" alt="100" width="100%" height="100">
                </div>
                <div class="col-md-8">
                    <h2>Мед різнотрав’я</h2>
                    <h5>Мед з різнотрав’я це прекрасний загально зміцнювальний засіб, проте головною його особливістю є
                        здатність стимулювати мозкову діяльність та швидко відновити організм після нервового
                        напруження.
                        Також цей вид меду має яскраво виражену бактерицидну дію, а отже може застосовуватися для
                        лікування
                        різних шкірних захворювань.
                        Колір меду варіюється від світло-янтарного до світло-коричневого (в залежності від видів трав, а
                        відповідно і нектару лугових квітів). Цей мед має кремоподібну структуру і має тонкий квітковий
                        аромат.
                        Квітковий мед має дуже малий термін кристалізації, і вже через три тижні після збору він
                        перетворюється
                        на густу дрібнозернисту масу.</h5>
                </div>
            </div>
        </div>

    </div>

</div>
<br>

<header th:insert="blocks/videoSlider::slider"></header>
<footer th:insert="blocks/footer-first::footer-first"></footer>
</html>
