<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="an">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/headerFirst::header"></header>

<!--<img alt="Office L icon" src="https://img.icons8.com/officel/2x/filled-star.png" style="height: 64px; width: 64px;">-->

<main role="main">

    <section class="jumbotron text-center" style="background-color: lightblue">
        <div class="container">
            <h1>Мед гречаний, липовий, соняшниковий та із золотарника. Прополіс та пилок</h1>
        </div>
    </section>

    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="nav justify-content-center">
                <!--                <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-10 mb-3 bg-bisque border-bottom shadow-sm "-->


                <div class="row col-md-12 mb-12">

                    <div class="col-md-4 mb-4">
                        <div>
                            <img alt="med"
                                 src="https://cdnimg.rg.ru/img/content/168/58/73/iStock-887517012_d_850.jpg"
                                 class="img-fluid ">
                        </div>

                        <div class="card-body">
                            <p class="card-text">
                            <h2> Мед гречаний, липовий, соняшниковий та із золотарника</h2>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <a class="btn btn-primary mt-auto" href="/about" role="button">Ознайомитись із продуктом</a>
                        </div>
                    </div>


                    <div class="col-md-4 mb-4">
                        <div>
                            <img alt="pill"
                                 src="https://cdnimg.rg.ru/img/content/168/58/73/iStock-887517012_d_850.jpg"
                                 class="img-fluid ">
                        </div>

                        <div class="card-body">
                            <p class="card-text">
                            <h2>Пилок різнотравя</h2>
                        </div>

                        <div class="d-flex justify-content-between align-items-center ">
                            <a class="btn btn-primary mt-auto" href="/about" role="button">Ознайомитись із продуктом</a>
                        </div>
                    </div>


                    <div class="col-md-4 mb-4">
                        <div>
                            <img alt="prop"
                                 src="https://cdnimg.rg.ru/img/content/168/58/73/iStock-887517012_d_850.jpg"
                                 class="img-fluid ">
                        </div>

                        <div class="card-body">
                            <p class="card-text">
                            <h2>Прополіс весняний</h2>
                        </div>

                        <div class="d-flex justify-content-between align-items-center ">
                            <a class="btn btn-primary mt-auto" href="/about" role="button">Ознайомитись із продуктом</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div th:insert="blocks/footer::footer"></div>
    </div>


</main>
</body>
</html>