<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="an">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/hederSecond::header"></header>


<!--<img alt="Office L icon" src="https://img.icons8.com/officel/2x/filled-star.png" style="height: 64px; width: 64px;">-->

<main role="main">

    <section class="jumbotron text-center" style="background-color: rgba(230,132,55,0.36)">
        <div class="title mont">
            <h1>Мед гречаний, липовий, соняшниковий та із золотарника</h1>
        </div>
    </section>

    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="nav justify-content-center">
                <!--                <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-10 mb-3 bg-bisque border-bottom shadow-sm "-->


                <div class="row col-md-12 mb-12">

                    <div class="rounded mx-auto d-block ">
                        <div>
                            <img alt="med" width="100%"
                                 src="https://cdnimg.rg.ru/img/content/168/58/73/iStock-887517012_d_850.jpg"
                                 class="img-fluid ">
                        </div>
                    </div>
                        <div class="card-body">
                            <p class="card-text">
                            <h2>
                                <div> Чистий липовий мед 2020 року без домішок та антибіотику. Пасіка знаходиться в лісі
                                    з великим насадженням липи.
                                </div><br>
                                <div> Мед дуже смачний, трішки віддає гіркотою. Це тому, що він не містить в собі
                                    різнотрав'я.
                                </div><br>
                                <div>Відправлення здійснюється новотою та укр-поштою, по всій території України. Оплата
                                    при отриманні.
                                </div><br>
                                <div>Є питання? Телефонуйте, буду радий поспілкуватися.</div><br>
                            <div>
                                <a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B4">Вікіпедія</a>
                            </div>
                            <br>
                            </h2>
                        </div>




                </div>
            </div>

        </div>

    </div>


</main>
<div th:insert="blocks/footer::footer"></div>
</body>
</html>