<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    CSS-->
    <link rel="stylesheet" href="../static/css/mine.css">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="blocks/js/script.js"></script>

</head>
<header th:insert="blocks/heder-mine::header-mine"></header>
<br>
<div class="text-center">
    <img src="images/news.jpg" class="rounded mx-auto d-block" height="400" alt="1">
</div>

<br>
<div class="text-center">
    <h4>ЦІКАВІ ФАКТИ ПРО МЕД</h4>
</div>
<div class="container">
    <h6>
        Історики кажуть, що бджільництвом людина почала займатися приблизно в 600 році до н.е. – і, звичайно ж, все
        починалося з розшуку в лісі гнізд диких комах. Спочатку мед вважався священним продуктом – його було мало,
        знаходити його було нелегко і на смак він був приголомшливим. Цілком достатньо, щоб приписати особливі
        чудо-властивості.
        <br>  <br>
        Втім, приписували їх не дарма, чого-чого, а чудових якостей в меді задосить: загальнозміцнювальні, кровоспинні,
        болезаспокійливі, антибактеріальні й протизапальні.
        <br> <br>
        Піфагор, Гіппократ та Аристотель також були впевнені, що мед продовжує життя людини. До речі, Гіппократ, не
        тільки лікував людей медом, а й активно вживав його в їжу, прожив він як відомо 109 років. Користь меду
        незаперечна.
        <br> <br>
        Про це писалися різноманітні трактати лікарів минулих століть, та й сучасні медики з ними згодні. Обумовлено це
        тим, що в його складі понад 300 корисних речовин, 23 з яких – амінокислоти, а 40 – мікроелементи. Мабуть, це
        єдиний продукт з таким складом.
        <br> <br>
        При розкритті могили Тутанхамона в гробниці знайшли амфору з медом. Через століття його якості практично не
        погіршилися – даний продукт може зберігатися роками, і це ніяк не відображатиметься на його корисних
        властивостях.
        <br> <br>
        У роки Великої Вітчизняної війни Радянський інститут Бджільництва, спільно з деякими медичними установами,
        серйозно займався питаннями лікувального впливу меду на організм бійця. Саме в ході їх експериментів було
        встановлено, що навіть слабкий розчин меду з водою здатний не тільки зупинити зростання бактерій, але й вбити
        їх.
        <br> <br>
        Цікавий факт, оси теж вміють робити мед. Індіанці Південної Америки здавна збирають осиний мед і навіть містять
        медоносних ос в полуодомашненному стані. У Мексиці вживають в їжу мед оси Полібія окціденталіс.
        <br> <br>
        Слово «мед» має єврейське походження. Дослівно його можна перевести як «чари» або «наділений магією», що зовсім
        не дивно: мед здавна називали їжею богів.
        <br> <br>
        Найдорожчий сорт меду у світі – це мед «Ельфійський» з Туреччини, він коштує € 5000 за кілограм. Видобувається в
        печері в долині Сарікаір біля міста Артвин на глибині 1800 метрів. В Іспанії мед додають до замінників грудного
        молока для дітей, які страждають на анемію або жовтяницю.
        <br> <br>
        Африканські бджоли не запасають мед у вуликах на зиму, оскільки погода там завжди спекотна і рослини цвітуть
        круглий рік, а значить – їжа є завжди.
        <br> <br>
        У 1985 році перуанські митники затримали на кордоні велику партію меду з Еквадору. Як виявилося, в ласощах
        містився кокаїн. Пізніше з'ясувалося, що наркотик ні домішували механічним способом. Для отримання
        смертельно-небезпечного меду бджіл випускали безпосередньо на плантації коки.
        <br> <br>
        Мед входить до переліку обов'язкових продуктів космонавтів і водолазів
        <br> <br>
        Мед часто згадується в релігійних книгах. У Корані: «З брюшок бджіл виходить питво різних кольорів, яке
        приносить людям зцілення. Воістину, в цьому – знамення для людей розмірковуючих». В Біблії: «Уста, що виділяють
        мед».
        <br> <br>
        Словосполучення "медовий місяць" прийшло до нас з Норвегії – там було прийнято, щоб молодята на старті спільного
        життя їли мед і пили напої на його основі. Початок шляху повинен бути солодким, поживним і корисним.
        <br> <br>
        Важливо! При температурі понад 50 градусів С в меді гине основна кількість корисних речовин, тому не варто
        додавати цей продукт в гарячий чай – лікувального ефекту не буде.
    </h6>
    <div class="text-center">
        <h4>Будьте здорові, смакуйте корисне!</h4>
    </div>
</div>

<footer th:insert="blocks/footer-first::footer-first"></footer>
</html>

