<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="an">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/hederSecond::header"></header>
<main role="main">

    <section class="jumbotron text-center" style="background-color: rgba(230,132,55,0.36)">
        <div class="title mont">
            <h1>Прополіс</h1>
        </div>
    </section>

    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="nav justify-content-center">
                <div class="row col-md-12 mb-12">

                    <div class="rounded mx-auto d-block ">
                        <div>
                            <img alt="med" width="100%"
                                 src="https://coteruche.com/presta/img/cms/propolis.jpg"
                                 class="img-fluid ">
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h2>
                            <div> Пропо́ліс — смолиста клейка речовина темно-зеленого кольору і гіркого смаку, яку
                                збирають
                                медоносні бджоли з бруньок різних рослин. Легко скачується в грудочки та має приємний
                                специфічний запах, що нагадує запах берези. Згодом прополіс набуває темнішого, навіть
                                чорного забарвлення і стає щільнішим, втрачаючи запах. Є одним із основних продуктів
                                бджільництва.
                            </div>
                            <br>
                            <div>
                                Склад прополісу: рослинні смоли (в середньому 55%); бальзами, які містять у вигляді
                                складних сумішей ефірні олії (8), дубильні речовини (8), ароматичні альдегіди,
                                фенолокислоти; віск (22); квітковий пилок (5-11%); механічні домішки. В ньому великий
                                набір мінеральних елементів, містяться вітаміни та інші речовини. До групи біоактивних
                                сполук відносяться флавоноїди з їх антибактеріальними властивостями.
                                Прополіс має добре задокументовані фармакологічні властивості, включаючи протимікробні,
                                антиоксидантні, протизапальні, імуномодулюючі та кардіозахисні ефекти. Відповідні
                                дослідження були проведені при Кафедрі педіатрії і підліткової медицини Гонконзького
                                університету в 2013 році.
                            </div>
                            <br>

                            <div>
                                Дослідженнями, проведеними в 2016 році при Дослідницькому центрі біоінформатики та
                                медичної інформатики при Державному університеті Сан-Дієго, Каліфорнія, США, були
                                також підтверджені протимікробні, протизапальні та імуномодулюючі ефекти та встановлено,
                                що прополіс має антиракові властивості.
                            </div>
                            <br>

                            <div>
                                У 2017 році була підготовлена комплексна рецензія, що базується на результатах 115
                                незалежних досліджень, в якій була підтверджена і задокументована клінічна ефективність
                                застосування прополісу при лікуванні ряду захворювань і розладів (лікування ран,
                                педіатрія,
                                лікування виразок, різних видів рефлюксу і гастриту, запалення ротової порожнини,
                                кардіологічних розладів і онкологічних патологій)
                            </div>
                            <br>

                            <div>
                                !!! При замовлені від 1000 грн - доставка безкоштовна
                            </div>
                            <br>
                            <div>Відправлення здійснюється новотою та укр-поштою, по всій території України. Оплата
                                при отриманні.
                            </div>
                            <br>
                            <div>Є питання? Телефонуйте, буду радий поспілкуватися.</div>
                            <div>
                                <a href="https://uk.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%BF%D0%BE%D0%BB%D1%96%D1%81">Вікіпедія</a>
                            </div>
                            <br>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<div th:insert="blocks/footer::footer"></div>
</body>
</html>