<div th:fragment="footer">

    <footer class="text-dark">
        <section class="jumbotron bg-secondary ">

            <h4>
                <div class="text-light">
                    Kyivstar +(380)-967-759-110<br>
                </div>
                <div class="text-light">
                    Vodafone +(380)-997-438-654<br>
                </div>
                <div>
                    <a class="text-primary"
                       href="https://www.facebook.com/profile.php?id=100014265334672">facebook</a>
                </div>
                <br>
            </h4>

            <!--            <p class=" text-light">-->
            <!--                <a href="#">Back to top</a>-->
            <!--            </p>-->

        </section>
    </footer>
</div>
