<div th:fragment="" footer>
    <footer class="text-dark">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-bisque border-bottom shadow-sm "
                 style="background-color: bisque">
                <h4>mob.   +(380)-997-438-654</h4><br>
            </div>
            <div>
                <h4>
                    <a class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-bisque border-bottom shadow-sm text-light"
                       style="background-color: cornflowerblue"
                       href="https://www.facebook.com/profile.php?id=100014265334672">facebook</a>
                </h4>

            </div>

            <p class="float-right">
                <a href="#">Back to top</a>
            </p>

        </div>
    </footer>
</div>