<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="an">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<div th:fragment="footer">

    <footer>

        <section class="jumbotron " style="background-color: rgba(196,246,255,0.34)">
            <h2>
                <p class="font-weight-bold text-uppercase text-center">Travel details and adventures</p>
            </h2>

            <h4>
                <p class="text-center">We are a web design inspiration gallery. All the website designs we published
                    have been carefully
                    handpicked by a graphic designer. We try to publish different styles of web design, feels and
                    looks from various places and not only the best websites from the coolest industries. </p>
            </h4>
<br><br>
            <h6>
                <p class=" font-weight-lighter text-right text-info">stories version*</p>
            </h6>
<!--            font-weight-bold-->
        </section>


    </footer>


</div>
