<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="an">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<div th:fragment="footer">

    <footer class="text-dark">
        <section class="jumbotron bg-secondary ">

            <h4>
                <div class="text-light">
                    Kyivstar +(380)-967-759-110<br>
                </div>
                <div class="text-light">
                    Vodafone +(380)-997-438-654<br>
                </div>
                <div>
                    <a class="text-primary"
                       href="https://www.facebook.com/profile.php?id=100014265334672">facebook</a>
                </div>
                <div class="text-light text-right text-uppercase">
                    beta testing
                </div>
                <br>
            </h4>

            <!--            <p class=" text-light">-->
            <!--                <a href="#">Back to top</a>-->
            <!--            </p>-->

        </section>
    </footer>
</div>
