<div th:fragment="header">
    <nav class="navbar navbar-expand-lg  bg-light"  >
        <h3 class="font-weight-bold text-uppercase colo" style="text-line-through-color: #0B2F6A" >
            <ul class="navbar-nav">
                <li class="nav-item active" >
                    <a class="nav-item nav-link text-area"  href="/pricePage" >Прайс
                        лист</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/blog">Клієнтський
                        журнал</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/blog/add">Добавити
                        коментар</a>
                </li>
            </ul>
        </h3>
    </nav>
</div>


<!--<div th:fragment="header">-->


<!--    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-bisque border-bottom shadow-sm "-->
<!--         style="background-color: bisque">-->
<!--        <h5 class="my-0 mr-md-auto font-weight-normal"></h5>-->
<!--        <nav class="my-2 my-md-0 mr-md-3">-->
<!--            <h1>-->
<!--                <div class="d-flex justify-content-between align-items-center ">-->
<!--                    <a class="btn btn-primary mt-auto mr-md-3 btn-lg" href="/about" role="button">Прайс лист 2</a>-->
<!--                    <a class="btn btn-primary mt-auto mr-md-3 btn-lg" href="/blog">Клієнтський журнал</a>-->
<!--                    <a class="btn btn-primary mt-auto mr-md-3 btn-lg" href="/blog/add">Добавити коментар</a>-->
<!--                </div>-->
<!--            </h1>-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->
