<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  lang="an">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>



<div th:fragment="slider">
    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="nav justify-content-center">
                <div class="row col-md-12 mb-12">
                    <div th:each="el:${posts}" class="col-md-4 mb-4">
                        <form>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        th:src="${el.video}"></iframe>
                            </div>
                        </form>
                        <h3 th:text="${el.title}"/>
                        <h4 th:text="${el.anons}"/>
                        <a th:href="'/blog/user/'+${el.id}" class="btn btn-outline-warning btn-sm">Детальніше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

